<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>加入我们</title>
</head>
<style>
	body{
		background: url(../static/images/192569075.jpg) no-repeat;
		background-size:cover;
		
	}
.middle {
	width: 300px;
	height: 200px;
	display: inline;
	text-align: center;
	margin: 0 auto;
	color: #6D6969
	
}
	#us{
		text-align: center;
	}
	iframe{
		margin: 0 auto;
		text-align: center;
	}
	#adress{
		text-align: center;
	}
</style>
<body>
	<div class="middle">
		<h1>我们是谁?</h1>
		<h1>Who are we?</h1>
	</div>
	<div id="us">我们是一群有着远大梦想的有志之士</div>
	<div class="middle"><h1>如果您也是像我们一样的人，请联系我们，让我们一起努力！创造更好的明天！</h1></div>
	<div id="adress">
	<iframe width="600" height="490" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/s/BMmvFb"></iframe>
		</div>
</body>
</html>
